/* Mobile first styles */
* {
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
body {
    margin: 0;
    padding: 0;
}
#header {
    padding: 8px 0;
    text-align: center;
    font-size: 9px;
    font-weight: bold;
    background: rgb(60, 60, 60);
    color: white;
}
h1 {
    text-transform: uppercase;
}
section {
    margin: 0;
    text-align: center;
}
h2 {
    font-size: 18px;
    margin: 25px 0 4px 0;
}
p {
    color: grey;
}
.section-text {
    font-size: 15px;
    margin: 0 0 30px 0;
    color: grey;
}
.thick-hr {
    border: solid black 2px;
    margin: 0 4%;
}
.slim-hr {
    border: solid black 1px;
    margin: 2px 4%;
}
form {
    background-color: lightcyan;
}
fieldset {
    border: none;
}
.legend {
    padding: 15px 0 18px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.legend-newsletter {
    padding: 15px 0 6px;
    font-size: 18px;
}
.info-flex {
    display: flex;
    flex-direction: column;
}
.label {
    font-size: 15px;
    padding-bottom: 7px;
    color: gray;
}
input[type="text"]:focus, input[type="email"]:focus {
    text-align: left;
}
[type="text"]:focus, [type="email"]:focus, [type="tel"]:focus, [type="city"]:focus, select:focus, [type="zip-code"]:focus, [id="topics"]:focus {
    background: rgb(255, 219, 193);
    color: #fff;
    transition: .6s ease-out;
}
input[placeholder="Required"] {
    text-align: right;
    padding: 0 15px;
    font-style: italic;
    color: rgb(169, 169, 169);
}
input[type="tel"], input[id="street-address"], input[id="city"], input[id="state"], input[id="zip"] {
    padding-left: 15px;
}
.state-box {
    padding-left: 10px;
    color: gray;
}
option[value=""]:focus {
    color: grey;
}
.zip-box {
    width: 50%;
}
.input-box, .state-box, .zip-box {
    border: none;
    height: 50px;
    border-radius: 6px;
    background-color: #eff0f1;
    outline-color: darkblue;
}
.newsletter-text {
    font-size: 15px;
    padding-left: 6px;
}
.newsletter-box {
    font-size: 15px;
    color: grey;
    padding-left: 5px;
}
.check-css {
    padding: 10px 0;
}
.checkbox-text {
    padding-left: 5px;
}
.radio-box {
    font-size: 15px;
    color: grey;
    padding-left: 5px;
}
.radio-html {
    padding-bottom: 12px;
}
.radio-text {
    padding-left: 5px;
}
.topics {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.topic-text {
    font-size: 15px;
    padding-left: 6px;
    color: grey;
    height: 34px;
}
.textarea-box {
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 6px;
    border: none;
    background-color: #eff0f1;
}
textarea[id="topics"] {
    padding: 5px 0 0 10px;
    outline-color: darkblue;
}
.button {
    padding-top: 8px;
}
.button-box {
    height: 50px;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #4ebbb5;
    outline-color: darkblue;
}
footer {
    padding-top: 13px;
    padding-bottom: 150px;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    color: grey;
}

/* media query for 768px devices */
@media screen and (min-width: 768px) {
    body {
       width: 100%;
    }
    #header {
        font-size: 7px;
    }
    .body-page {
        width: 70%;
        margin: auto;
    }
    section {
        padding: 21px 0 35px 0;
        margin: 0;
    }
    h2 {
        font-size: 20px;
    }
    .section-text {
        font-size: 12px;
        margin: 0;
    }
    .legend {
        padding: 20px 0 18px 4px;
        font-size: 14px;
    }
    .info-box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-left: 4px;
    }
    .info-flex {
        flex-direction: unset;
    }
    .label {
        font-size: 70%;
        align-self: center;
        width: 25%;
    }
    .input-box, .state-box, .zip-box {
        width: 70%;
    }
    #phone {
        margin: 0;
    }
    .info-flex {
        display: flex;
        padding: 9px 0;
    }
    .zip-box {
        width: 25%;
    }
    .legend-newsletter {
        padding: 20px 0 18px 4px;
        font-size: 14px;
    }
    .newsletter-text {
        font-size: 13px;
    }
    .topic-text {
        font-size: 14px;
    }
    .textarea-box, .button-box {
        width: 100%;
    }
}