/* Mobile first styles */
* {
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
body {
    margin: 0;
    padding: 0;
}
#header {
    background: rgb(60, 60, 60);
    color: white;
}
h1 {
    text-transform: uppercase;
}
legend {
    text-decoration: none;
}
fieldset {
    border: none;
}




/* media query for 768px devices */









